
    html {
        scroll-behavior: smooth; /* cuộn mượt */
    }

    .hover-scale {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }

        .hover-scale:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        }
