<nav id="sidebar" class="d-flex flex-column bg-dark vh-100 p-3 sidebar-expanded"
     style="width: 250px; position: fixed; top:0; left:0; transition: all 0.3s;">

    <!-- Nút Toggle -->
    <button id="toggleSidebar" class="btn btn-sm btn-outline-light mb-3 w-100 text-start">
        ☰
    </button>

    <a class="navbar-brand text-white mb-4" asp-area="Admin" asp-controller="AdminHome" asp-action="Index">
        Admin Panel
    </a>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="DanhMucs" asp-action="Index">Quản lý Danh Mục</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="Admin" asp-controller="SanPhams" asp-action="Index">Quản lý sản phẩm</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="Admin" asp-controller="QuanTriViens" asp-action="Index">Quản lý Trị Viên</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="Admin" asp-controller="DonHangs" asp-action="Index">Đơn Hàng</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="Admin" asp-controller="ChiTietDonHangs" asp-action="Index">Chi Tiết Đơn Hàng</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="Admin" asp-controller="DanhGia" asp-action="Index">Đánh Giá</a>
        </li>
    </ul>

    <hr class="text-secondary" />

    <ul class="nav flex-column">
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <li class="nav-item mb-2">
                <span class="nav-link text-warning">Xin chào: @User.Identity?.Name</span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" asp-area="" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-success" asp-controller="Account" asp-action="Login">Đăng nhập</a>
            </li>
        }
    </ul>
</nav>
